[Unit]
Description=Run UVC camera streaming service at boot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/Projects/multicam_monitor
ExecStart=/home/%i/Projects/multicam_monitor/startup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
